{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class = "container">
    <div class="title">User Account Created</div>
    <div id='lower-side'>
        <p id='message'>
            Congratulations, your account has been successfully created.
        </p>
        <a href="Login" id="contBtn">Continue</a>
    </div>
</body>
</html>